{% extends 'base.html' %}

{% block btns %}
    <div class="col-3 py-5 d-flex justify-content-center">
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <a href=""><button type="button" class="btn btn-success">Создать</button></a>
          <button type="button" class="btn btn-warning">Изменить</button>
          <button type="button" class="btn btn-danger">Удалить</button>
        </div>
    </div>
{% endblock btns %}

{% block main %}
    <div class="container bg-danger">
        spisaniya
    </div>
{% endblock main %}