{% extends 'base.html' %}

{% block btns %}
    <div class="col-3 py-5 d-flex justify-content-center">
        <button type="button" class="btn btn-success">Search</button>
    </div>
{% endblock btns %}

{% block main %}
    <div class="container bg-secondary p-4 rounded mt-5 text-light h5">
        <div class="row">
            <div class="col">Shtrix kod:</div>
            <div class="col">Nazvaniya:</div>
            <div class="col">Tip:</div>
            <div class="col">Shtuk v pachke:</div>
        </div>
        <div class="row border-bottom">
            <div class="col">{{ data.tovar.shtrixKod }}</div>
            <div class="col">{{ data.tovar.name }}</div>
            <div class="col">{{ data.tovar.tip_tovara }}</div>
            <div class="col">{{ data.tovar.shtukPachke }}</div>
        </div>
        <div class="row mt-4">
            <div class="col">Proizvoditel:</div>
            <div class="col">Sertifikat:</div>
            <div class="col">Srok:</div>
            <div class="col">Chislo dobavlen:</div>
        </div>
        <div class="row border-bottom">
            <div class="col">{{ data.ishlab_chiqaruvchi }}</div>
            <div class="col">{{ data.dori_sertifikati }}</div>
            <div class="col">{{ data.srok }}</div>
            <div class="col">{{ data.date_dobavlen }}</div>
        </div>
        <div class="row mt-4 h4">
            <div class="col">Sena pokupki:</div>
            <div class="col">Protsent:</div>
            <div class="col">Sena:</div>
            <div class="col">Max sena:</div>
        </div>
        <div class="row h5 border-bottom">
            <div class="col">{{ data.olingan_narxi }} so'm</div>
            <div class="col">{{ data.ustiga_foiz }} so'm</div>
            <div class="col">{{ data.sotiladigan_narx }} so'm</div>
            <div class="col">{{ data.max_sena }} so'm</div>
        </div>
        <div class="row p-3 mt-4">
            <form action="/pereotsenka/{{ data.id }}" method="post">
                {% csrf_token %}
                <div class="row p-1">
                    <div class="col">
                        <label for="protsent">Protsent:</label>
                        <input type="number" class="form-control" name="protsent" onkeyup="foiz(this.value)" id="ustigaFoiz" value="">
                    </div>
                    <div class="col">
                        <label for="narx">Narx:</label>
                        <input type="number" class="form-control" name="narx" onkeyup="narxlar(this.value)" id="sotiladiganNarx" value="">
                    </div>
                </div>
                <div class="row p-3">
                    <button class="btn btn-success">Send</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        function foiz(foiz){
            narxi = parseFloat({{ data.olingan_narxi }});
            goo = narxi + (narxi / 100 * foiz);
            document.getElementById("sotiladiganNarx").value = goo;
        }


        function narxlar(sotiladiganNarx){
            narxi = parseFloat({{ data.olingan_narxi }});
            bir_foiz = parseFloat(narxi / 100);
            natija = parseFloat(parseFloat(sotiladiganNarx) - narxi);
            nattt = natija / bir_foiz;
            document.getElementById("ustigaFoiz").value = nattt
        }
    </script>
{% endblock main %}