{% extends 'base.html' %}
{% load static %}

{% block btns %}
    <div class="col-3 py-5 d-flex justify-content-center">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#pereotsenka">Search</button>
    </div>
{% endblock btns %}

{% block main %}
    <style>
        a{
            text-decoration: none;
        }
        #trans {
            transition: all 0.5s ease-out;
        }
    </style>

    <div class="container-fluid bg-silver">
        <table class="table table-striped table-hover">
            <thead class="border-bottom font-weight-bold">
                <tr class="h6">
                    <td>Штрых код</td>
                    <td>Названия</td>
                    <td>Тип</td>
                    <td>Штук в пачке</td>
                    <td>Штук купленный</td>
                    <td>Производитель</td>
                    <td>Сертификат</td>
                    <td>Срок годности</td>
                    <td>Число добавлен</td>
                    <td>Цена покупки</td>
                    <td>Процентов</td>
                    <td>Цена продажи</td>
                    <td>Максимальная цена</td>
                    <td>Изменить</td>
                </tr>
            </thead>
            <tbody>
                {% for naklad in dorilar %}
                    <tr class="small">
                        <td>{{ naklad.tovar.shtrixKod }}</td>
                        <td>{{ naklad.tovar.name }}</td>
                        <td>{{ naklad.tovar.tip_tovara }}</td>
                        <td>{{ naklad.tovar.shtukPachke }}</td>
                        <td>{{ naklad.olingan_soni }}</td>
                        <td>{{ naklad.ishlab_chiqaruvchi }}</td>
                        <td>{{ naklad.dori_sertifikati }}</td>
                        <td>{{ naklad.srok }}</td>
                        <td>{{ naklad.date_dobavlen }}</td>
                        <td>{{ naklad.olingan_narxi }} so'm</td>
                        <td>{{ naklad.ustiga_foiz }} %</td>
                        <td>{{ naklad.sotiladigan_narx }} so'm</td>
                        <td>{{ naklad.max_sena }} so'm</td>
                        <td class="d-flex justify-content-evenly align-items-center">
                            <a href="{% url 'deleteprixod' naklad.id %}" class="text-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="pereotsenka">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header р4">
                Переотценка
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="trans">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            <input type="search" id="search" autocomplete="off" name="search" class="form-control">
                        </div>
                    </div>
                    <div class="hullas row">
                        <div class="appending col" id="appending">
                            <div class="row m-2 p-1 bg-warning">
                                <div class="col">Name</div>
                                <div class="col">Srok</div>
                                <div class="col">Time</div>
                                <div class="col">Nakladnoy</div>
                            </div>
                            <!--Appending will be created here-->

                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="container bg-secondary d-flex justify-content-end p-2">
                    <button type="button" class="btn btn-black bg-black text-white" data-dismiss="modal">Close</button>
                </div>
            </div>
          </div>
        </div>
    </div>

    <script type="text/javascript">
        let search_field = document.getElementById("search");
        let check = 0;
        search_field.addEventListener("keyup", () => {
            if(check != 0){
                let wildelete = document.querySelectorAll(".dele")
                for(let i = 0; i < wildelete.length; i++){
                    wildelete[i].remove();
                }
            }
            let data = document.getElementById("search").value;
            if(data != ""){
                axios.get('{% url 'search' %}', {
                    params: {
                        data: data
                    }
                }).then( res => {
                    let will_append = document.querySelector(".appending");
                    console.log(res.data)
                    res.data.map((elem) => {

                        let newElement = document.createElement('a');
                        newElement.classList.add("dele")
                        newElement.classList.add("row")
                        newElement.classList.add("text-white")
                        newElement.classList.add("m-1")
                        newElement.classList.add("p-1")
                        will_append.appendChild(newElement)
                        newElement.setAttribute("href", `/pereotsenka/${elem.id}`)

                        let new_name = document.createElement('div');
                        new_name.classList.add('col')
                        new_name.classList.add('p-1')
                        new_name.classList.add('bg-secondary')
                        new_name.innerHTML = elem.name
                        newElement.appendChild(new_name)

                        let new_name2 = document.createElement('div');
                        new_name2.classList.add('col')
                        new_name2.classList.add('p-1')
                        new_name2.classList.add('bg-secondary')
                        new_name2.innerHTML = elem.srok
                        newElement.appendChild(new_name2)

                        let new_name3 = document.createElement('div');
                        new_name3.classList.add('col')
                        new_name3.classList.add('p-1')
                        new_name3.classList.add('bg-secondary')
                        new_name3.innerHTML = elem.date
                        newElement.appendChild(new_name3)

                        let new_name4 = document.createElement('div');
                        new_name4.classList.add('col')
                        new_name4.classList.add('p-1')
                        new_name4.classList.add('bg-secondary')
                        new_name4.innerHTML = elem.nakladnoy
                        newElement.appendChild(new_name4)

                        check += 1
                    })
                })
            }
        })
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock main %}